# Виртуальное окружение
venv/
env/
.venv/

# Файлы компиляции Python
__pycache__/
*.pyc
*.pyo

# Файлы окружения и IDE
.env
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Временные данные с ФГОС для парсинга
pdfs/

# Ключи для работы с API
keys/